html, body {overflow-x: hidden;}
.topo {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  background-color: #3B3B3B;
  border-bottom: 5px solid #1758A7;
}

.logo {
  margin: 60px 50px;  
  position: absolute;
}
/*menu*/
nav {
  font-family: 'LatoLatin';
  width: 100%;
  height: 20px; 
  padding: 20px;
  text-align: center;  
}
nav ul {margin-top: -10px;}

nav ul a {
  padding: 0px 30px;
  color: #ecf0f1;
  font-size: 1.2em;
  text-decoration: none;
  vertical-align: middle;  
}

/*nav ul.col-cel {display: none;}*/

nav ul a:hover {
  color: #3498db;    
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  transition: all ease .5s;   
}

.img {
  max-width: 100%;
  height: auto;
}

.titulos { margin: 100px 0px; color: #3B3B3B;}

.textoLatEsq {
position: absolute;
width: 500px;
text-align: justify;
margin: -100px 0px 0px 130px;
font-size: 20px;
}

.corpoSlogans {
  margin: 50px 0px;
  padding: 16px; 
  width: 500px;
  height: auto;

}

.logosTopo {
  position: absolute;
  text-align: right;
  margin:auto;
  width: 100%;
  height: auto;
}


.camposTextos {
  margin: 50px 0;
  text-align: justify;
  font-size: 20px; 
}

pre::before {
  color: #000;
  font-size: 14px;
  font-weight: bold;  
  content: '<link rel="stylesheet" type="text/css" href="font-awesome-4.2.0/css/font-awesome.min.css">';
}

/*resolucoes menores*/
@media (max-width: 768px) {
  .textoLatEsq {width: 210px; margin: -110px 0px 0px 115px; padding: 8px; }
  .titulos { margin-top: 200px; margin-bottom: 50px; width: 90%;}
 /* nav ul.col-pc {display: none;}*/
  nav ul.col-cel {display: inline-block; margin-left: -50px;}
  nav ul a { padding: 0px 10px;}
.logo { margin: 60px 5px;}
.img { max-width: 70%; height: auto; }

}/*final resolucao maxima de 768*/