.topo {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  background-color: #3B3B3B;
  border-bottom: 5px solid #1758A7;
}

.titulos { margin: 100px 0px; color: #3B3B3B;}

.logo {
  margin: 60px 0px;  
  position: absolute;
}

.img {
  max-width: 100%;
  height: auto;
}

.textoLatEsq {
position: absolute;
width: 500px;
text-align: justify;
margin: -100px 0px 0px 150px;
font-size: 20px;
}

.corpoSlogans {
  margin: 50px 0px;
  padding: 16px; 
  width: 500px;
  height: auto;

}

.logosTopo {
  position: absolute;
  text-align: right;
  margin:auto;
  width: 100%;
}


nav {
  font-family: 'LatoLatinSemBd';
  width: 100%;
  height: 20px; 
  padding: 20px;
  text-align: center;  
}
nav ul {margin-top: -10px;}

nav ul a {
  padding: 0px 30px;
  color: #ecf0f1;
  font-size: 1.2em;
  text-decoration: none;
  vertical-align: middle;  
}

nav ul a:hover {
  color: #3498db;    
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  transition: all ease .5s;   
}

/*resolucoes menores*/
@media (max-width: 768px) {
  .textoLatEsq {width: 300px; margin: -120px 0px 0px 150px; padding: 8px; }
  .titulos { margin-top: 200px; margin-bottom: 50px; width: 90%;}
  nav {
    display: block;
  }
}