.topo {
  background-color: #DDD;
  margin: 0 auto;
  padding: 1%;
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.logo {
  margin-left: 50px;
}

.img {
  max-width: 100%;
  height: auto;
}

.textoLatEsq {
position: absolute;
width: 500px;
text-align: justify;
margin: -80px 0px 0px 150px;
font-size: 20px;
}

.corpoSlogans {
  margin: 50px 0px;
  padding: 16px; 
  width: 500px;
  height: auto;

}
