/** framEasy - Framework mais simples do mundo somente usando HTML e CSS
autor:Thiago Lúcio Bittencourt;
url:http://www.thiagolucio.com.br; https://github.com/thiagolucio/framEasy.git;
**/
* {
margin:0;
padding:0;
list-style:none;
vertical-align:baseline;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

/* Webfont: LatoLatin-Regular */@font-face {
    font-family: 'LatoLatin';
    src: url('../fonts/LatoLatin-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatin-Regular.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'LatoLatin';
    src: url('../fonts/LatoLatin-Italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatin-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatin-Italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatin-Italic.ttf') format('truetype'); 
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: LatoLatinMed-Regular */@font-face {
    font-family: 'LatoLatinMed';
    src: url('../fonts/LatoLatinMed-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatinMed-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatinMed-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatinMed-Regular.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatinThin-Regular */@font-face {
    font-family: 'LatoLatinThin';
    src: url('../fonts/LatoLatinThin-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatinThin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatinThin-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatinThin-Regular.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatinThin-Italic */@font-face {
    font-family: 'LatoLatinThin';
    src: url('../fonts/LatoLatinThin-Italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatinThin-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatinThin-Italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatinThin-Italic.ttf') format('truetype'); 
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: LatoLatinSemBd-Regular */@font-face {
    font-family: 'LatoLatinSemBd';
    src: url('../fonts/LatoLatinSemBd-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatinSemBd-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/../fonts/LatoLatinSemBd-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatinSemBd-Regular.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatinBlack-Italic */@font-face {
    font-family: 'LatoLatinBlack';
    src: url('../fonts/../fonts/../fonts/../fonts/LatoLatinBlack-Italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/../fonts/../fonts/LatoLatinBlack-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/../fonts/LatoLatinBlack-Italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatinBlack-Italic.ttf') format('truetype'); 
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/*posicionamento dos corpos*/
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
/*configuração genérica de links*/
a { background-color: transparent; }
a:active, a:hover { outline: 0; }
/*bold tag b*/
b, strong { font-weight: bold; }
/*padroes de textos*/
h1 {
	font-family: 'LatoLatinThin', Serif;
	font-size: 3.0em;
}

h2 {
	font-family: 'LatoLatinThin', Serif;
	font-size: 2.5em;
}

h3 {
	font-family: 'LatoLatinThin', Serif;
	font-size: 2.0em;
}

h4 {
	font-family: 'LatoLatinThin', Serif;
	font-size: 1.5em;
}

h5 {
	font-family: 'LatoLatinThin', Serif;
	font-size: 1.0em;
}

p {
  margin: 0 0 10px;
}


/*sistema de contanier*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}
/*estilos de linha*/
.row {
  margin-right: -15px;
  margin-left: -15px;
}
/*estilo grids - desktops e notebooks*/
@media (min-width: 1200px) {
  .col-pc-1, .col-pc-2, .col-pc-3, .col-pc-4, .col-pc-5, .col-pc-6, .col-pc-7, .col-pc-8, .col-pc-9, .col-pc-10, .col-pc-11, .col-pc-12 {
    float: left;
  }
  .col-pc-12 {
    width: 100%;
  }
  .col-pc-11 {
    width: 91.66666667%;
  }
  .col-pc-10 {
    width: 83.33333333%;
  }
  .col-pc-9 {
    width: 75%;
  }
  .col-pc-8 {
    width: 66.66666667%;
  }
  .col-pc-7 {
    width: 58.33333333%;
  }
  .col-pc-6 {
    width: 50%;
  }
  .col-pc-5 {
    width: 41.66666667%;
  }
  .col-pc-4 {
    width: 33.33333333%;
  }
  .col-pc-3 {
    width: 25%;
  }
  .col-pc-2 {
    width: 16.66666667%;
  }
  .col-pc-1 {
    width: 8.33333333%;
  }
  .col-pc-pull-12 {
    right: 100%;
  }
  .col-pc-pull-11 {
    right: 91.66666667%;
  }
  .col-pc-pull-10 {
    right: 83.33333333%;
  }
  .col-pc-pull-9 {
    right: 75%;
  }
  .col-pc-pull-8 {
    right: 66.66666667%;
  }
  .col-pc-pull-7 {
    right: 58.33333333%;
  }
  .col-pc-pull-6 {
    right: 50%;
  }
  .col-pc-pull-5 {
    right: 41.66666667%;
  }
  .col-pc-pull-4 {
    right: 33.33333333%;
  }
  .col-pc-pull-3 {
    right: 25%;
  }
  .col-pc-pull-2 {
    right: 16.66666667%;
  }
  .col-pc-pull-1 {
    right: 8.33333333%;
  }
  .col-pc-pull-0 {
    right: auto;
  }
  .col-pc-push-12 {
    left: 100%;
  }
  .col-pc-push-11 {
    left: 91.66666667%;
  }
  .col-pc-push-10 {
    left: 83.33333333%;
  }
  .col-pc-push-9 {
    left: 75%;
  }
  .col-pc-push-8 {
    left: 66.66666667%;
  }
  .col-pc-push-7 {
    left: 58.33333333%;
  }
  .col-pc-push-6 {
    left: 50%;
  }
  .col-pc-push-5 {
    left: 41.66666667%;
  }
  .col-pc-push-4 {
    left: 33.33333333%;
  }
  .col-pc-push-3 {
    left: 25%;
  }
  .col-pc-push-2 {
    left: 16.66666667%;
  }
  .col-pc-push-1 {
    left: 8.33333333%;
  }
  .col-pc-push-0 {
    left: auto;
  }
  .col-pc-offset-12 {
    margin-left: 100%;
  }
  .col-pc-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-pc-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-pc-offset-9 {
    margin-left: 75%;
  }
  .col-pc-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-pc-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-pc-offset-6 {
    margin-left: 50%;
  }
  .col-pc-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-pc-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-pc-offset-3 {
    margin-left: 25%;
  }
  .col-pc-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-pc-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-pc-offset-0 {
    margin-left: 0;
  }
}

/* colunas ou grids para tamanhos medios ou tablets e netbooks*/
@media (min-width: 992px) {
  .col-tab-1, .col-tab-2, .col-tab-3, .col-tab-4, .col-tab-5, .col-tab-6, .col-tab-7, .col-tab-8, .col-tab-9, .col-tab-10, .col-tab-11, .col-tab-12 {
    float: left;
  }
  .col-tab-12 {
    width: 100%;
  }
  .col-tab-11 {
    width: 91.66666667%;
  }
  .col-tab-10 {
    width: 83.33333333%;
  }
  .col-tab-9 {
    width: 75%;
  }
  .col-tab-8 {
    width: 66.66666667%;
  }
  .col-tab-7 {
    width: 58.33333333%;
  }
  .col-tab-6 {
    width: 50%;
  }
  .col-tab-5 {
    width: 41.66666667%;
  }
  .col-tab-4 {
    width: 33.33333333%;
  }
  .col-tab-3 {
    width: 25%;
  }
  .col-tab-2 {
    width: 16.66666667%;
  }
  .col-tab-1 {
    width: 8.33333333%;
  }
  .col-tab-pull-12 {
    right: 100%;
  }
  .col-tab-pull-11 {
    right: 91.66666667%;
  }
  .col-tab-pull-10 {
    right: 83.33333333%;
  }
  .col-tab-pull-9 {
    right: 75%;
  }
  .col-tab-pull-8 {
    right: 66.66666667%;
  }
  .col-tab-pull-7 {
    right: 58.33333333%;
  }
  .col-tab-pull-6 {
    right: 50%;
  }
  .col-tab-pull-5 {
    right: 41.66666667%;
  }
  .col-tab-pull-4 {
    right: 33.33333333%;
  }
  .col-tab-pull-3 {
    right: 25%;
  }
  .col-tab-pull-2 {
    right: 16.66666667%;
  }
  .col-tab-pull-1 {
    right: 8.33333333%;
  }
  .col-tab-pull-0 {
    right: auto;
  }
  .col-tab-push-12 {
    left: 100%;
  }
  .col-tab-push-11 {
    left: 91.66666667%;
  }
  .col-tab-push-10 {
    left: 83.33333333%;
  }
  .col-tab-push-9 {
    left: 75%;
  }
  .col-tab-push-8 {
    left: 66.66666667%;
  }
  .col-tab-push-7 {
    left: 58.33333333%;
  }
  .col-tab-push-6 {
    left: 50%;
  }
  .col-tab-push-5 {
    left: 41.66666667%;
  }
  .col-tab-push-4 {
    left: 33.33333333%;
  }
  .col-tab-push-3 {
    left: 25%;
  }
  .col-tab-push-2 {
    left: 16.66666667%;
  }
  .col-tab-push-1 {
    left: 8.33333333%;
  }
  .col-tab-push-0 {
    left: auto;
  }
  .col-tab-offset-12 {
    margin-left: 100%;
  }
  .col-tab-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-tab-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-tab-offset-9 {
    margin-left: 75%;
  }
  .col-tab-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-tab-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-tab-offset-6 {
    margin-left: 50%;
  }
  .col-tab-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-tab-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-tab-offset-3 {
    margin-left: 25%;
  }
  .col-tab-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-tab-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-tab-offset-0 {
    margin-left: 0;
  }
}


/*estilo das grids - celulares e mobiles*/
.col-cel-1, .col-bigCel-1, .col-tab-1, .col-pc-1, .col-cel-2, .col-bigCel-2, .col-tab-2, .col-pc-2, .col-cel-3, .col-bigCel-3, .col-tab-3, .col-pc-3, .col-cel-4, .col-bigCel-4, .col-tab-4, .col-pc-4, .col-cel-5, .col-bigCel-5, .col-tab-5, .col-pc-5, .col-cel-6, .col-bigCel-6, .col-tab-6, .col-pc-6, .col-cel-7, .col-bigCel-7, .col-tab-7, .col-pc-7, .col-cel-8, .col-bigCel-8, .col-tab-8, .col-pc-8, .col-cel-9, .col-bigCel-9, .col-tab-9, .col-pc-9, .col-cel-10, .col-bigCel-10, .col-tab-10, .col-pc-10, .col-cel-11, .col-bigCel-11, .col-tab-11, .col-pc-11, .col-cel-12, .col-bigCel-12, .col-tab-12, .col-pc-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-cel-1, .col-cel-2, .col-cel-3, .col-cel-4, .col-cel-5, .col-cel-6, .col-cel-7, .col-cel-8, .col-cel-9, .col-cel-10, .col-cel-11, .col-cel-12 {
  float: left;
}
.col-cel-12 {
  width: 100%;  
}
.col-cel-11 {
  width: 91.66666667%;
}
.col-cel-10 {
  width: 83.33333333%;
}
.col-cel-9 {
  width: 75%;
}
.col-cel-8 {
  width: 66.66666667%;
}
.col-cel-7 {
  width: 58.33333333%;
}
.col-cel-6 {
  width: 50%;
}
.col-cel-5 {
  width: 41.66666667%;
}
.col-cel-4 {
  width: 33.33333333%;
}
.col-cel-3 {
  width: 25%;
}
.col-cel-2 {
  width: 16.66666667%;
}
.col-cel-1 {
  width: 8.33333333%;
}

.col-cel-offset-12 {
  margin-left: 100%;
}
.col-cel-offset-11 {
  margin-left: 91.66666667%;
}
.col-cel-offset-10 {
  margin-left: 83.33333333%;
}
.col-cel-offset-9 {
  margin-left: 75%;
}
.col-cel-offset-8 {
  margin-left: 66.66666667%;
}
.col-cel-offset-7 {
  margin-left: 58.33333333%;
}
.col-cel-offset-6 {
  margin-left: 50%;
}
.col-cel-offset-5 {
  margin-left: 41.66666667%;
}
.col-cel-offset-4 {
  margin-left: 33.33333333%;
}
.col-cel-offset-3 {
  margin-left: 25%;
}
.col-cel-offset-2 {
  margin-left: 16.66666667%;
}
.col-cel-offset-1 {
  margin-left: 8.33333333%;
}
.col-cel-offset-0 {
  margin-left: 0;
}

/*alinhamento da direita*/
.pull-right {
  right: 0;
  left: auto;
}

/*Visible e Hidden*/
.visible-cel,
/*.visible-bigCel,
.visible-tab,*/
.visible-pc {
  display: none !important;
}
.visible-cel-block,
.visible-cel-inline,
.visible-cel-inline-block,
/*.visible-bigCel-block,
.visible-bigCel-inline,
.visible-bigCel-inline-block,
.visible-tab-block,
.visible-tab-inline,
.visible-tab-inline-block,*/
.visible-pc-block,
.visible-pc-inline,
.visible-pc-inline-block {
  display: none !important;
}
@media (min-width: 1200px) {
  .visible-pc {
    display: block !important;
  }
  table.visible-pc {
    display: table;
  }
  tr.visible-pc {
    display: table-row !important;
  }
  th.visible-pc,
  td.visible-pc {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-pc-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-pc-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-pc-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .hidden-pc {
    display: none !important;
  }
}

/*resolucoes medias - tablets*/
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-tab {
    display: block !important;
  }
  table.visible-tab {
    display: table;
  }
  tr.visible-tab {
    display: table-row !important;
  }
  th.visible-tab,
  td.visible-tab {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-tab-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-tab-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-tab-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-tab {
    display: none !important;
  }

/* resolucoes pequenas - celulares maiores*/
  /*@media (min-width: 768px) and (max-width: 991px) {
  .visible-bigCel {
    display: block !important;
  }
  table.visible-bigCel {
    display: table;
  }
  tr.visible-bigCel {
    display: table-row !important;
  }
  th.visible-bigCel,
  td.visible-bigCel {
    display: table-cell !important;
  }
}*/
/*@media (min-width: 768px) and (max-width: 991px) {
  .hidden-bigCel {
    display: none !important;
  }
}

}*/

/*@media (min-width: 768px) and (max-width: 991px) {
  .visible-bigCel-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-bigCel-inline {
    display: inline !important;
  }
}*/
/*@media (min-width: 768px) and (max-width: 991px) {
  .visible-bigCel-inline-block {
    display: inline-block !important;
  }
}*/

/*resolucoes bem pequenas - celulares menores*/
@media (max-width: 767px) {
  .visible-cel {
    display: block !important;
  }
  table.visible-cel {
    display: table;
  }
  tr.visible-cel {
    display: table-row !important;
  }
  th.visible-cel,
  td.visible-cel {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-cel-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-cel-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-cel-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  .hidden-cel {
    display: none !important;
  }
}

/* resolucoes de print das telas*/

/*.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}*/
